# Folders
Backups/CleanupScriptBackups/
Backups/ConfigBackups/
Backups/InstructionBackups/
Backups/ScriptReview/
Backups/Snapshots/
FixScriptTesting/
Logs/Archive/
Logs/LogFiles/
TerminalVerbose/
.Drafts
.retype/
.website/
node_modules/
# Files
Backups/CommonInstructions.instructions.backup-2025-07-24-part1.md
Backups/CommonInstructions.instructions.backup-2025-07-24.md
MODULARISATION.md
script_review_report.csv
script_review_report.md
OfficeSpaceManager.code-workspace
Metadata/.lastSync.json
Metadata/CachedResources.json
package-lock.json
package.json
retype.yml
retype.manifest